*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    background-image: url('assets/love4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 90%;
    height: 90%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 15%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
    font-weight: 800;
}

.boutons{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}

button{
    font-weight: 600;
    font-size: 16px;
    border: 1px;
    z-index: 1000;
}

.yes{
    width: 145px;
    height: 40px;
    margin-left: 32%;
    margin-top: 2%;
    background-color: green;
    opacity: 80%;
    z-index: 1000;
    display: none;
}

.yes:hover{
    opacity: 100%;
    cursor: pointer;
}

.no{
    width: 70px;
    height: 30px;
    position: absolute;
    bottom: 214px;
    right: 540px;
    background-color: red;
    opacity: 80%;
    display: none;
}

span{
    margin-right: 5px;
}

.FH1,.merci,.merci_but,.noNON,.accept_but,.accept,.h1_stop{
    display: none;
}

.stop_no,video{
    display: none;
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.active{
    display: block;
}